In [1]:
! pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\jay.borade\anaconda3\lib\site-packages (8.0.25)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\jay.borade\anaconda3\lib\site-packages (from mysql-connector-python) (3.17.3)
Requirement already satisfied: six>=1.9 in c:\users\jay.borade\anaconda3\lib\site-packages (from protobuf>=3.0.0->mysql-connector-python) (1.16.0)

In [2]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root")
print(mydbconnect)

<mysql.connector.connection.MySQLConnection object at 0x000001E12881F520>

In [5]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root")
# print(mydbconnect)

mycursor=mydbconnect.cursor()
# mycursor.execute("Create Database Edubridge_Session")
mycursor.execute("Show Databases")
for x in mycursor:
    print(x)

<mysql.connector.connection.MySQLConnection object at 0x000001E1289329D0>
('am_org_9760fabaeed84186b01d5e4195122875',)
('am_org_tenant',)
('anonymoose',)
('edubridge_session',)
('information_schema',)
('multitenant',)
('mysql',)
('performance_schema',)
('pollsapp',)
('python_training',)
('record',)
('sakila',)
('sample',)
('sys',)
('world',)

In [16]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root")
try:
    mycursor=mydbconnect.cursor()
    mycursor.execute("Create Database Edubridge_Session_python1")
    if True:
        print("Database Successfully Created")
except Exception:
    print("Sorry Duplicate entry")

Sorry Duplicate entry

In [13]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root",
database="Edubridge_Session_python1")
try:
    mycursor=mydbconnect.cursor()
    mycursor.execute("Create Database Edubridge_Session_python1")
    if True:
        print("Database Successfully Created")
except Exception:
    print("Sorry Duplicate entry")

Sorry Duplicate entry

In [15]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root",
database="Edubridge_Session_python1")
try:
    mycursor=mydbconnect.cursor()
    mycursor.execute("Create Table students(name varchar(255),address varchar(255))")
    if True:
        print("Table Successfully Created")
except Exception:
    print("Sorry Duplicate entry")

Table Successfully Created

In [20]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root",
database="Edubridge_Session_python1")
mycursor=mydbconnect.cursor()
mycursor.execute("show tables")
for x in mycursor:
    print(x)

('employees',)
('students',)

In [19]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root",
database="Edubridge_Session_python1")
try:
    mycursor=mydbconnect.cursor()
    mycursor.execute("Create Table employees(id int auto_increment primary key,name varchar(255),address varchar(255))")
    if True:
        print("Table Successfully Created")
except Exception:
    print("Sorry Duplicate entry")

Table Successfully Created

In [23]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root",
database="Edubridge_Session_python1")
mycursor=mydbconnect.cursor()
sql="insert into employees(name,address) values (%s,%s)"
val=("Jay","Mumbai")
mycursor.execute(sql,val)
mydbconnect.commit()
print(mycursor.rowcount," record Inserted")

1  record Inserted

In [5]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root",
database="Edubridge_Session_python1")
mycursor=mydbconnect.cursor()
sql="insert into employees(name,address) values (%s,%s)"
val=[("Sujay","Mumbai"),
     ("Vijay","Kerala"),
     ("Aakash","Banglore"),
     ("Raju","Delhi"),
    ]
mycursor.executemany(sql,val)
mydbconnect.commit()
print(mycursor.rowcount," record Inserted")

4  record Inserted

In [7]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root",
database="Edubridge_Session_python1")
mycursor=mydbconnect.cursor()
mycursor.execute("select * from employees")
for x in mycursor:
    print(x)

(1, 'Jay', 'Mumbai')
(2, 'Jay', 'Mumbai')
(3, 'Sujay', 'Mumbai')
(4, 'Vijay', 'Kerala')
(5, 'Aakash', 'Banglore')
(6, 'Raju', 'Delhi')

In [9]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root",
database="Edubridge_Session_python1")
mycursor=mydbconnect.cursor()
mycursor.execute("select * from employees")
myresult=mycursor.fetchone()
print(myresult)

(1, 'Jay', 'Mumbai')

In [10]:
mycursor.fetchmany(3)

[(2, 'Jay', 'Mumbai'), (3, 'Sujay', 'Mumbai'), (4, 'Vijay', 'Kerala')]

In [11]:
mycursor.fetchall()

[(5, 'Aakash', 'Banglore'), (6, 'Raju', 'Delhi')]

In [13]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root",
database="Edubridge_Session_python1")
mycursor=mydbconnect.cursor()
mycursor.execute("select name from employees ")
for x in mycursor:
    print(x)
# myresult=mycursor.fetchone()
# print(myresult)

('Jay',)
('Jay',)
('Sujay',)
('Vijay',)
('Aakash',)
('Raju',)

In [14]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root",
database="Edubridge_Session_python1")
mycursor=mydbconnect.cursor()
mycursor.execute("select * from employees where address='Mumbai'")
for x in mycursor:
    print(x)
# myresult=mycursor.fetchone()
# print(myresult)

(1, 'Jay', 'Mumbai')
(2, 'Jay', 'Mumbai')
(3, 'Sujay', 'Mumbai')

In [16]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root",
database="Edubridge_Session_python1")
mycursor=mydbconnect.cursor()
mycursor.execute("select * from employees where address='Mumbai'")
myresult=mycursor.fetchone()
print(myresult)

(1, 'Jay', 'Mumbai')

In [17]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root",
database="Edubridge_Session_python1")
mycursor=mydbconnect.cursor()
mycursor.execute("select * from employees where address='Mumbai'")
myresult=mycursor.fetchmany(2)
print(myresult)

[(1, 'Jay', 'Mumbai'), (2, 'Jay', 'Mumbai')]

In [18]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root",
database="Edubridge_Session_python1")
mycursor=mydbconnect.cursor()
mycursor.execute("select * from employees where address='Mumbai'")
myresult=mycursor.fetchall()
print(myresult)

[(1, 'Jay', 'Mumbai'), (2, 'Jay', 'Mumbai'), (3, 'Sujay', 'Mumbai')]

In [19]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root",
database="Edubridge_Session_python1")
mycursor=mydbconnect.cursor()
mycursor.execute("select * from employees where name like '%Jay%'")
myresult=mycursor.fetchall()
print(myresult)

[(1, 'Jay', 'Mumbai'), (2, 'Jay', 'Mumbai'), (3, 'Sujay', 'Mumbai'), (4, 'Vijay', 'Kerala')]

In [20]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root",
database="Edubridge_Session_python1")
mycursor=mydbconnect.cursor()
mycursor.execute("select * from employees order by name")
myresult=mycursor.fetchall()
print(myresult)

[(5, 'Aakash', 'Banglore'), (1, 'Jay', 'Mumbai'), (2, 'Jay', 'Mumbai'), (6, 'Raju', 'Delhi'), (3, 'Sujay', 'Mumbai'), (4, 'Vijay', 'Kerala')]

In [21]:
import mysql.connector
mydbconnect=mysql.connector.connect(
host="localhost",
user="root",
password="root",
database="Edubridge_Session_python1")
mycursor=mydbconnect.cursor()
mycursor.execute("select * from employees order by name desc")
myresult=mycursor.fetchall()
print(myresult)

[(4, 'Vijay', 'Kerala'), (3, 'Sujay', 'Mumbai'), (6, 'Raju', 'Delhi'), (1, 'Jay', 'Mumbai'), (2, 'Jay', 'Mumbai'), (5, 'Aakash', 'Banglore')]